{% extends 'core/base.html' %}
{% block containt %} 
{% load static %}
<div class="container mt-1">
    <h1 class="text-warning mb-3 border-bottom">SERVICES</h1>

<!-- row1 --> 
    <div class="row text-center  text-white mb-1">
        <div class="col-sm-4" >
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-1 i-color"></i>
            <h5>SEO</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4"  >
            <i class="fa-solid fa-palette fa-2x mb-1 i-color"></i>
            <h5>Web Design</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4"  >
            <i class="fa-solid fa-code fa-2x  i-color" style="margin-bottom:5px;"></i>
            {% comment %} <i class="fa-code fa-2x  i-color"></i>   {% endcomment %}
            <h5>Web Devolopment</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
    </div>
<!-- row2 --> 
    <div class="row text-center text-white mb-2">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h5>Android</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h5>IOS</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-2x mb-3 i-color"></i>
            <h5>Adrvertising</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
    </div>
<!-- row3 --> 
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h5>Logo Design</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h5>Hosting</h3>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h5>Support</h5>
            <P class="ss.color">Lorem ipsum dolor sit amet consectetur adipisicing elit. </P>
        </div>
    </div>




</div>
{% endblock containt %}
